*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: white;
    color: white;
}
.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  color: rgb(160, 15, 15);
  height: 700px;
  width: 100%;
  font-size: 2rem;
}

.body{
    background-color: white;
    max-width: 90%;
    margin: auto;
}

/* .main{
    background-color: peachpuff;
} */

.list{
    list-style-type: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    padding: 20px;
    color: white;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
   
}

nav a {
  text-decoration: none;
}

.nav-item{
    position: relative;
    margin-left: 20px;
    color: black;
}


.navbar-logo{
    color: goldenrod;
}
.body{
    width: 95%;
}