<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %} {%endblock%}</title>
  </head>
  <body>
    <div>
      <nav class="navbar1">
        <div>
          <a class="navbar-logo" href="">MyDuka</a>
        </div>
        <div>
          {% if not session.email %}
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/register">Register</a>
          <a class="nav-item" href="/login">Login</a>
          {% else %}
          <a class="nav-item" href="/products">Products</a>
          <a class="nav-item" href="/stock">Stocks</a>
          <a class="nav-item" href="/sales">Sales</a>
          <a class="nav-item" href="/dashboard">Dashboard</a>
          <a class="nav-item" href="/logout">Logout</a>
          {% endif %}
        </div>
      </nav>
    </div>

    <div class="body">
      {% with messages= get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible" role="alert">
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    {% block content %} {%endblock%}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.js"></script>
    <script>
      new DataTable("#example");
    </script>
  </body>
</html>
