{% extends 'base.html'%}
{% block title %} dashboard {% endblock %}
{% block content %}


<div class="body">

    <div>
        <p>This is the dashboard page</p>
    </div>
    <div>
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
    </div>

    <div>
        <canvas id="line-chart" width="800" height="450"></canvas>
    </div>
    
</div>

<script>
    new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: {{ product_names | safe }},
      datasets: [
        {
          label: "Sales",
          backgroundColor: "#3e95cd",
          data: {{ sales_per_p | safe}}
        }, {
          label: "Profit",
          backgroundColor: "#8e5ea2",
          data: {{ profit_per_p | safe }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Sales and Profit per Product (Ksh.)'
      }
    }
});



new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: {{date | safe}},
    datasets: [{ 
        data: {{ sales_per_d | safe}},
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: {{profit_per_d | safe}},
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
</script>

{% endblock %}