{% extends 'base.html'%}
{% block title %} products {% endblock %}
{% block content %}


<div>

    <div>
        <p>This is the products page</p>
    </div>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            add products
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Adding a product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action = '/addproducts' method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Product Name</label>
                                <input type="text" name="product_name" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                
                                
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                                <input type="number" name="buying_price" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                                <input type="number" name="selling_price" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">add products</button>
                    </div>
                
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Buying Price</th>
                <th>Selling Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}