{% extends 'base.html'%}
{% block title %} register {% endblock %}
{% block content %}


<div>

    <div>
        <p>This is the register page</p>
    </div>
    <div>
        <label for="">First Name:</label> <br>
        <input type="text" placeholder="Enter your first name"><br><br>
        <label for="">Last Name:</label> <br>
        <input type="text" placeholder="Enter your last name"><br><br>
        <label for="">Email Address:</label><br>
        <input type="text" placeholder="Enter your email address"><br><br>
        <label for="">Password:</label><br>
        <input type="text" placeholder="Enter your password"><br><br>
        <label for="">confirm your password:</label><br>
        <input type="text" placeholder="reenter your password">
    </div>
</div>

{% endblock %}