{% extends 'base.html'%} {% block title %} sales {% endblock %} {% block content
%}

<div>
  <div>
    <p>This is the users page</p>
  </div>

  <div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Register Users
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              registering a user
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/insert_users" method="post">
              <div class="mb-3">
                <!-- <select class="form-select" name="uid" aria-label="Default select example">
                  <option selected>Insert a User</option>
                  {% for user in users %}
                  <option value="{{user[0]}}">{{user[1]}}</option>
                  {% endfor %}
                 
                </select> -->
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Full Name</label
                >
                <input
                  type="text"
                  name="full_name"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Email Address</label
                >
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Phone Number</label
                >
                <input
                  type="number"
                  name="phone_number"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="text"
                  name="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  add user
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Phone Nummber</th>
          <!-- <th>Password</th> -->
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
