{% extends 'base.html'%} {% block title %} sales {% endblock %} {% block content
%}

<div>
  <div>
    <p>This is the users page</p>
  </div>

  <div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Register Users
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              registering a user
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/register_users" method="post">
              <div class="mb-3">
                <select class="form-select" name="uid" aria-label="Default select example">
                  <!-- <option selected>Select a product</option>
                  {% for product in products %}
                  <option value="{{product[0]}}">{{product[1]}}</option>
                  {% endfor %}
                 
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Quantity</label
                >
                <input
                  type="number"
                  name="quantity"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  add products
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th>Sales ID</th>
          <th>Product ID</th>
          <th>Quantity</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales %}
        <tr>
          <td>{{sale[0]}}</td>
          <td>{{sale[1]}}</td>
          <td>{{sale[2]}}</td>
          <td>{{sale[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> -->
</div>

{% endblock %}
